<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DemoServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://inttstbosphorus.com:10000/Hosting/DemoService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DemoServiceContract"
                contract="DemoServiceReference.DemoServiceContract" name="BasicHttpBinding_DemoServiceContract" />
        </client>
    </system.serviceModel>
</configuration>